body {
  background: #111;
  color: #eee;
}

textarea {
  width: 40em;
  height: 40em;
  font-family: monospace;
  resize: none;
  margin: 1em;
  padding: 1em;
}

button {
  margin: 1em;
  padding: 1em;
}
